@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("/font/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("/font/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("/font/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("/font/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.poppins {
  font-family: "Poppins", sans-serif;
}

:root {
  --font-body: "Poppins", sans-serif;
}
*,
body {
  font-family: var(--font-body);
}
.nunito {
  font-family: "Nunito Sans", sans-serif;
}

.outfit {
  font-family: "Outfit", sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

@layer utilities {
  body {
    font-family: "Poppins", sans-serif;
  }

  .max-width {
    max-width: 1170px;
    margin: 0 auto !important;
    width: 100%;

    @media (width <=768px) {
      max-width: 100%;
      padding: 0 1rem;
    }
  }

  .max_screen {
    max-width: 1600px !important;
    margin: 0 auto;
    width: 100%;
  }

  .xLargeHeading {
    font-size: 4rem;
    line-height: normal;

    @media (width < 640px) {
      font-size: 2rem;
      line-height: normal;
    }
  }

  .largeHeading {
    font-size: 3.3125rem;
    line-height: normal;

    @media (width < 640px) {
      font-size: 1.75rem;
      line-height: normal;
    }
  }

  .mediumHeading {
    font-size: 2.5rem;
    line-height: 3rem;

    @media (width < 640px) {
      font-size: 1.625rem;
      line-height: 2rem;
    }
  }

  .heading {
    font-size: 2rem;
    line-height: 2.5rem;

    @media (width < 640px) {
      font-size: 1.375rem;
      line-height: 1.5rem;
    }
  }

  .heading1 {
    font-size: 1.75rem;
    // line-height: normal;

    @media (width < 640px) {
      font-size: 1.25rem;
      // line-height: normal;
    }
  }

  .heading2 {
    font-size: 1.5rem;
    line-height: 2rem;

    @media (width < 640px) {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }

  .heading3 {
    font-size: 1.25rem;
    line-height: 1.5rem;

    @media (width < 640px) {
      font-size: 1rem;
      // line-height: normal;
    }
  }

  .heading4 {
    font-size: 1.125rem;
    line-height: 1.5rem;

    @media (width < 640px) {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  .description1 {
    font-size: 1rem;
    // line-height: normal;

    @media (width < 640px) {
      font-size: 0.75rem;
      // line-height: normal;
    }
  }

  .description2 {
    font-size: 0.875rem;
    // line-height: normal;

    @media (width < 640px) {
      font-size: 0.625rem;
      // line-height: normal;
    }
  }

  .description3 {
    font-size: 0.75rem;
    // line-height: normal;

    @media (width < 640px) {
      font-size: 0.5rem;
      // line-height: normal;
    }
  }

  .box-shadow {
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px) translateX(-5px);

    &:active {
      box-shadow: none;
      transform: translateY(0) translateX(0);
    }
  }

  .box-shadow2 {
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  }
}

.data_pass {
  h2 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 700;
    @media (width < 640px) {
      font-size: 1.375rem;
      line-height: 1.5rem;
    }
  }
  h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 600;
    @media (width < 640px) {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }
  h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    @media (width < 640px) {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;

    @media (width < 640px) {
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
  }
  ol {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 1.5rem;

    @media (width < 640px) {
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
    li {
      list-style: decimal;
      ul{
        list-style: circle;
        padding-left: 1.5rem;
        li {
          list-style: circle;
        }
      }
    }
  }
  ul {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 1.5rem;
    list-style: disc;

    @media (width < 640px) {
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
  }
  li {
    font-size: 1rem;
    line-height: 1.5rem;
    list-style: disc;
    @media (width < 640px) {
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
  }
  div {
    img {
      border: 3px solid #c1282a;
      margin-bottom: 0.5rem;
    }
    margin-bottom: 1rem;
  }
}
