#formContainer {
  background-color: #f3f3fd;
  padding: 20px;
  display: flex;
  text-align: center;
}

#customForm {
  padding: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
  align-self: center;
  margin: auto !important;
  background-color: #ffffff;
  border-radius: 5px;
}

#customForm input {
  border: 1px solid #d7d7d6;
  border-radius: 4px;
  height: 45px;
}

#customForm input::placeholder {
  font-size: 12px;
}

#customForm input:hover {
  border-color: rgba(46, 105, 255, 0.5);
  box-shadow: 0 0 0 2px rgba(46, 105, 255, 0.25);
}

#customForm textarea {
  border: 1px solid #d7d7d6;
  border-radius: 4px;
  height: 180px;
}

#customForm textarea::placeholder {
  font-size: 12px;
}

#customForm textarea:hover {
  border-color: rgba(46, 105, 255, 0.5);
  box-shadow: 0 0 0 2px rgba(46, 105, 255, 0.25);
}

#customForm label {
  font-family: sans-serif !important;
  font-size: 17px !important;
  font-weight: 500 !important;
}

.form-check-input[type="checkbox"] {
  height: 20px !important;
  width: 20px !important;
  margin-right: 10px !important;
}

.form-check-label {
  display: flex;
  align-items: center;
  text-align: left !important;
}
